*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}

body{
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #000;
  transition: all 0.5s ease;
}

.container{
  max-width: 1212px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 21px 0 21px;
  transition: background .3s,border .3s,border-radius .3s,box-shadow .3s,-webkit-border-radius .3s,-webkit-box-shadow .3s;
}
.btn{
  display: block;
  padding: 10px 20px;
  color: #fff;
  border-radius: 5px;
  background-color: gray;
  margin: 50px 0 0 0;
}
h1{
  font-size: 25px;
  text-align: center;
  margin: 0 0 50px;
}
p{
  margin: 30px 0 20px;
  font-weight: 700;
}

input{
  display: inline-block;
  border: 1px solid gray;
  border-radius: 5px;
 padding: 5px;
  color: #000;
  &::placeholder{
    color: #fff;
  }
}

section{
  padding: 50px 0 50px ;
}

label{
  margin: 0 20px 0 0;
  line-height: 25px;
}
.tip{
  margin: 0 30px 0 0;
}
.person{
  margin: 30px 0 0 0;
}